
.logoRow{
    justify-content: center;
}


.logoDiv{
    align-items: center;
    margin-top: 10%;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    width: 100px;
    box-shadow: 4px 0px 1px -1px #00d646;
    height: 100px;
}


.logoAlfa{
    color: #00d646;
    font-weight: bold;
}

