.table{
    margin-top: 100px !important;
    margin-bottom: 100px !important;
    margin: 0 auto;
    width: 30%;
}

.buttonDiv{
    display: flex;
    justify-content: space-around;
}
.buttonDiv button{
    width: 200px;
}